/*從Google Fonts的網址中
載入"Poppins"字型的不同版本<以便應用到網頁中。使用這些字型檔案
可以讓網頁的文字有更多不同的字重選擇，以及更多漂亮的字型選擇*/
@import url(http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    /*overflow-x: hidden;*/
    background: linear-gradient(#070e3a, #1e2c77);
}
header /*HTML中的頂部標題區域元素*/
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px, 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 1000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    /*"em" 是一種相對於當前元素字體大小的長度單位。
    它的值是相對於當前元素字體大小的倍數。
    例如，如果一個元素的字體大小為16像素，
    那麼2em將等於32像素（2 x 16）*/
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px;
}
header ul /*無序列表元素*/
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li /*列表項目元素*/
{
    list-style: none;
    margin-left: 20px;
}

/*header ul li a這個語法是用來選擇網頁中某些元素並為其添加樣式。
其中，a表示選擇所有的超連結元素（HTML中的a標籤），並對其進行樣式設定*/
header ul li a /*右上方的字*/
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 15px;
}
header ul li a:hover, /*選擇鼠標指針懸停在某個元素上時的樣式。
當鼠標懸停在 a 元素上時，就會應用 :hover 樣式。
比如改變超連結的文字顏色或背景色等等。*/
header ul li a.active
{
    background: #fff;
    color: #070e3a;
}
section
{
    position: relative; /*元素相對於自己的初始位置進行定位*/
    width: 100%;
    /*Viewport Height。1 vh 等於視窗高度的 1%。
    因此，height: 100vh表示將元素的高度設置為視窗高度的 100%，
    也就是使元素的高度等於整個視窗的高度。
    這個技巧在設計響應式網頁時非常常見，
    可以確保元素佔據整個可見區域，
    不會出現垂直滾動條，同時也會自動適應不同的螢幕尺寸和設備。*/
    height: 100vh;
    padding: 100px;
    display: flex; /*設定一個彈性容器，可以讓子元素的排列方式更加靈活*/
    justify-content: center; /*控制子元素在容器中水平對齊的方式*/
    align-items: center; /*控制子元素在容器中垂直對齊的方式*/
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #070e3a, transparent);
    z-index: 100;
}
section img
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /*元素不接受滑鼠事件
    例如：使某些半透明的元素不阻擋下方元素的事件*/
}
section img#northernLight,
section img#stars
{
    mix-blend-mode: screen;
}
section img#mountainBack2
{
    mix-blend-mode: overlay;
    z-index: 10;
}
#text
{
    position: absolute;
    /*right: 0px;*/
    top: 430px;
    color: #fff;
    white-space: nowrap; 
    font-size: 7.5vw;
    z-index: 9;  
}
/*section h2#text /*Starry Night*/ /*{
    /*position: absolute;
    top: 0;
    /*margin-top: 300px;*/
    /*white-space: nowrap; /*禁止元素或文字換行*/
    /*font-size: 7.5vw;
    /*设置 font-size: 7.5vw，
    字体大小根据视窗宽度调整，
    当浏览器窗口宽度为100vw时，字体大小为7.5%的视窗宽度*/
    /*font-size: 1.5em;*/
    /*font-size: 1.5em，则字体大小为父元素字体大小的1.5倍*/
    /*z-index: 9;
}*/
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 4px 15px;
    /*設置元素的內邊距，上下方向（即上邊距和下邊距）的值為 8 像素
    左右方向（即左邊距和右邊距）的值為 30 像素
    使其內容與邊框之間有一定的距離*/
    border-radius: 40px;
    background: #fff;
    color: #070e3a;
    font-size: 1em;
    z-index: 11;
    /*margin-top: 550px;*/
    transform: translateY(250px);
}
.sec /*下方區域色塊*/
{
    position: relative;
    padding: 100px; /*將元素的上下左右四個方向的內邊距均設置為 100 像素*/
    background: #070e3a;
}
.sec h2 /*About FishChief*/
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    transform: translateY(-50px);
}
.sec p
{
    font-size: 1em;
    color: #fff;
    transform: translateY(-50px);
}